%p= "Hello #{@user.name},"
%p= "The #{@project.name.capitalize} project at Ativa has added a new post."
%p For more information, click the link below:
= link_to @project.name.capitalize, project_url(@project)
%br
%p Thank you,
%p The Ativa team